html {
  color: black;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-variant: small-caps;
  color: #ff7f50;
  font-family: inconsolate;
  text-shadow: 1px 0 3px #ff7f50;
  width: 1210px;
}

h1 {
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  text-align: right;
  margin-bottom: 20px;
}

.box {
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px #ff7f50;
  border-bottom: solid 2px #ff7f50;
}

.box:before, .box:after {
  content: "";
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #ff7f50;
}

.box:before {
  left: 10px;
}

.box:after {
  right: 10px;
}

.box p {
  margin: 0;
  padding: 0;
}

h3 {
  color: #ff7f50;
  font-size: 40px;
  font-style: italic;
  line-height: 110%;
  font-variant: small-caps;
  margin-top: 60px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.number {
  color: #ff7f50;
  font-size: 80px;
  font-style: italic;
  margin-left: 30px;
}

.headline {
  color: white;
  background-color: #ff7f50;
  font-size: 45px;
  font-style: italic;
  line-height: 110%;
  font-variant: small-caps;
}

body {
  font-style: italic;
}

main {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h5 {
  margin-top: -60px;
  margin-left: 200px;
  margin-bottom: 0px;
  margin-right: 10px;
}

p {
  font-style: normal;
  line-height: 150%;
  width: 510px;
  overflow-wrap: break-word;
  margin-top: -100px;
  margin-left: 200px;
  margin-bottom: 100px;
  margin-right: 10px;
}

img {
  margin-top: -60px;
  margin-left: 1000px;
}

@media (max-width: 930px) {
  header {
    margin-left: 30px;
    color: white;
    width: 830px;
    background-color: #ff7f50;
  }

  body {
    margin-left: 10px;
    width: 600px;
    background-color: #ff7f50;
  }

  .box {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }

  .box:before, .box:after {
    background-color: white;
  }

  h3 {
    color: white;
  }

  .number {
    margin-left: 10px;
    color: white;
  }

  h5 {
    margin-left: 120px;
  }

  .headline {
    font-size: 30px;
    margin-left: 10px;
  }

  p {
    margin-top: -130px;
    margin-left: 140px;
    width: 500px;
  }

  img {
    width: 180px;
    margin-top: -35px;
    margin-left: 670px;
  }
}
